.absolute {
  position: absolute
}

.top-14 {
  top: 14px
}

.bottom-14 {
  bottom: 14px
}

.right-14 {
  right: 14px
}

.top-0 {
  top: 0px
}

.left-0 {
  left: 0px
}

.bottom-0 {
  bottom: 0px
}

.right-0 {
  right: 0px
}

.left-12 {
  left: 12px
}

.left-24 {
  left: 6rem
}

.left-16 {
  left: 16px
}

.left-22 {
  left: 22px
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px
}

.mt-17 {
  margin-top: 17px
}

.mb-40 {
  margin-bottom: 40px
}

.mb-1 {
  margin-bottom: 1px
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.h-\[8\] {
  height: 8
}

.min-h-280 {
  min-height: 280px
}

.w-full {
  width: 100%
}

.w-\[8\] {
  width: 8
}

.min-w-200 {
  min-width: 200px
}

.min-w-280 {
  min-width: 280px
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-15 {
  border-radius: 15px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-t-48 {
  border-top-left-radius: 48px;
  border-top-right-radius: 48px
}

.bg-\#FFFFFF {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 255 / var(--tw-bg-opacity))
}

.bg-\#5669FF {
  --tw-bg-opacity: 1;
  background-color: rgb(86 105 255 / var(--tw-bg-opacity))
}

.bg-\#FFFFFF80 {
  background-color: #FFFFFF80
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px
}

.px-18 {
  padding-left: 18px;
  padding-right: 18px
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px
}

.pt-40 {
  padding-top: 40px
}

.pb-37 {
  padding-bottom: 37px
}

.text-center {
  text-align: center
}

.text-16 {
  font-size: 16px
}

.text-22 {
  font-size: 22px
}

.text-15 {
  font-size: 15px
}

.text-18 {
  font-size: 18px
}

.font-normal {
  font-weight: 400
}

.font-medium {
  font-weight: 500
}

.text-\#FFFFFF {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
