.absolute {
  position: absolute
}

.top-14 {
  top: 15px
}

.bottom-14 {
  bottom: 15px
}

.right-14 {
  right: 15px
}

.bottom-0 {
  bottom: 1px
}

.right-0 {
  right: 1px
}

.left-0 {
  left: 1px
}

.m-30 {
  margin: 31px
}

.my-8 {
  margin-top: 9px;
  margin-bottom: 9px
}

.mx-5 {
  margin-left: 6px;
  margin-right: 6px
}

.my-15 {
  margin-top: 16px;
  margin-bottom: 16px
}

.mx-20 {
  margin-left: 21px;
  margin-right: 21px
}

.my-10 {
  margin-top: 11px;
  margin-bottom: 11px
}

.mt-17 {
  margin-top: 18px
}

.mb-40 {
  margin-bottom: 41px
}

.mb-1 {
  margin-bottom: 2px
}

.mt-70 {
  margin-top: 71px
}

.mt-15 {
  margin-top: 16px
}

.mb-30 {
  margin-bottom: 31px
}

.ml-10 {
  margin-left: 11px
}

.mt-24 {
  margin-top: 25px
}

.ml-20 {
  margin-left: 21px
}

.mt-10 {
  margin-top: 11px
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-24 {
  height: 25px
}

.h-\[8\] {
  height: 8
}

.min-h-280 {
  min-height: 281px
}

.w-full {
  width: 100%
}

.w-24 {
  width: 25px
}

.w-\[8\] {
  width: 8
}

.min-w-200 {
  min-width: 201px
}

.min-w-280 {
  min-width: 281px
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-15 {
  border-radius: 16px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-t-48 {
  border-top-left-radius: 49px;
  border-top-right-radius: 49px
}

.bg-\#FFFFFF {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\#5669FF {
  --tw-bg-opacity: 1;
  background-color: rgb(86 105 255 / var(--tw-bg-opacity))
}

.bg-\#FFFFFF80 {
  background-color: #FFFFFF80
}

.py-18 {
  padding-top: 19px;
  padding-bottom: 19px
}

.px-15 {
  padding-left: 16px;
  padding-right: 16px
}

.px-18 {
  padding-left: 19px;
  padding-right: 19px
}

.px-40 {
  padding-left: 41px;
  padding-right: 41px
}

.pt-40 {
  padding-top: 41px
}

.pb-37 {
  padding-bottom: 38px
}

.text-center {
  text-align: center
}

.text-16 {
  font-size: 17px
}

.text-14 {
  font-size: 15px
}

.text-22 {
  font-size: 23px
}

.text-15 {
  font-size: 16px
}

.text-18 {
  font-size: 19px
}

.text-35 {
  font-size: 36px
}

.text-24 {
  font-size: 25px
}

.font-normal {
  font-weight: 400
}

.font-medium {
  font-weight: 500
}

.leading-48 {
  line-height: 48px
}

.text-\#FFFFFF {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-\#5669FF {
  --tw-text-opacity: 1;
  color: rgb(86 105 255 / var(--tw-text-opacity))
}

.text-\#\#37364A {
  --tw-text-opacity: 1;
  color: rgb(55 54 74 / var(--tw-text-opacity))
}

.text-\#120D26 {
  --tw-text-opacity: 1;
  color: rgb(18 13 38 / var(--tw-text-opacity))
}

.text-\#9D9898 {
  --tw-text-opacity: 1;
  color: rgb(157 152 152 / var(--tw-text-opacity))
}

.text-\#3D56F0 {
  --tw-text-opacity: 1;
  color: rgb(61 86 240 / var(--tw-text-opacity))
}
